In [2]:
import pandas as pd

In [3]:
df= pd.read_excel(r"E:\AI\Mongodb\375_EC_1.xlsx")

In [4]:
df.head()

,EC No. / Item No./ Institution Name /ID/ Course,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Examining Authority / Hospital,Decisions of\n375 EC (26.8.2022),Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,375EC/4\nAP-129/ 2022-2023\nP Rami Reddy Memor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D.Pharm\nState Board of Technical Education an...,D.Pharm\nGrant approval for 2022-2023 academic...,NaN,NaN,NaN,NaN
2,375EC/5\nAP-130/ 2022-2023\nVignan Pharmacy Co...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"B.Pharm, Pharm.D and M.Pharm\nThe Registrar,\n...",B.Pharm\nB.Pharm course is already approved up...,NaN,NaN,NaN,NaN
3,EC No. / Item No./ Institution Name /ID/ Course,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Examining Authority / Hospital,Decisions of\n375 EC (26.8.2022),NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#Dataframe name change
df['Examining Authority']=df['Examining Authority / Hospital']

In [6]:
df.head()

,EC No. / Item No./ Institution Name /ID/ Course,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Examining Authority / Hospital,Decisions of\n375 EC (26.8.2022),Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Examining Authority
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,375EC/4\nAP-129/ 2022-2023\nP Rami Reddy Memor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D.Pharm\nState Board of Technical Education an...,D.Pharm\nGrant approval for 2022-2023 academic...,NaN,NaN,NaN,NaN,D.Pharm\nState Board of Technical Education an...
2,375EC/5\nAP-130/ 2022-2023\nVignan Pharmacy Co...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"B.Pharm, Pharm.D and M.Pharm\nThe Registrar,\n...",B.Pharm\nB.Pharm course is already approved up...,NaN,NaN,NaN,NaN,"B.Pharm, Pharm.D and M.Pharm\nThe Registrar,\n..."
3,EC No. / Item No./ Institution Name /ID/ Course,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Examining Authority / Hospital,Decisions of\n375 EC (26.8.2022),NaN,NaN,NaN,NaN,Examining Authority / Hospital
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.dtypes

EC No.  / Item No./ Institution Name /ID/ Course     object
Unnamed: 1                                           object
Unnamed: 2                                          float64
Unnamed: 3                                           object
Unnamed: 4                                          float64
Unnamed: 5                                          float64
Unnamed: 6                                          float64
Unnamed: 7                                          float64
Unnamed: 8                                          float64
Examining Authority / Hospital                       object
Decisions of\n375 EC (26.8.2022)                     object
Unnamed: 11                                          object
Unnamed: 12                                          object
Unnamed: 13                                          object
Unnamed: 14                                          object
Examining Authority                                  object
dtype: object

In [8]:
df['Institution_Name']=df['EC No.  / Item No./ Institution Name /ID/ Course']

In [9]:
df2=df[['Institution_Name', 'Examining Authority', 'Decisions of\n375 EC (26.8.2022)']]

In [10]:
df2.head()

,Institution_Name,Examining Authority,Decisions of\n375 EC (26.8.2022)
0,NaN,NaN,NaN
1,375EC/4\nAP-129/ 2022-2023\nP Rami Reddy Memor...,D.Pharm\nState Board of Technical Education an...,D.Pharm\nGrant approval for 2022-2023 academic...
2,375EC/5\nAP-130/ 2022-2023\nVignan Pharmacy Co...,"B.Pharm, Pharm.D and M.Pharm\nThe Registrar,\n...",B.Pharm\nB.Pharm course is already approved up...
3,EC No. / Item No./ Institution Name /ID/ Course,Examining Authority / Hospital,Decisions of\n375 EC (26.8.2022)
4,NaN,NaN,NaN

In [11]:
# converting dataframe as string
df2=df2.applymap(str)
print(df2.dtypes)

Institution_Name                    object
Examining Authority                 object
Decisions of\n375 EC (26.8.2022)    object
dtype: object

In [12]:
# find the string position 
df2.Institution_Name.str.find('PCI')

0       -1
1      100
2       89
3       -1
4       -1
      ...
260     -1
261     -1
262    119
263     -1
264     -1
Name: Institution_Name, Length: 265, dtype: int64

In [13]:
df['PCI']=df.Institution_Name.str.split(' ')

In [14]:
df['PCI']

0                                                    NaN
1      [375EC/4\nAP-129/, 2022-2023\nP, Rami, Reddy, ...
2      [375EC/5\nAP-130/, 2022-2023\nVignan, Pharmacy...
3      [EC, No., , /, Item, No./, Institution, Name, ...
4                                                    NaN
                             ...
260                                                  NaN
261                                                  NaN
262    [375EC/69, &, 70\nKA-329, /, 2022-2023\nKARNAT...
263                                                  NaN
264                                               [p.36]
Name: PCI, Length: 265, dtype: object

In [15]:
# conerting a new column from instute
df2['PCI'] = df2.Institution_Name.str.extract(r'\b(\w+)$', expand=True)
print(df2)

                                      Institution_Name  \
0                                                  nan
1    375EC/4\nAP-129/ 2022-2023\nP Rami Reddy Memor...
2    375EC/5\nAP-130/ 2022-2023\nVignan Pharmacy Co...
3     EC No.  / Item No./ Institution Name /ID/ Course
4                                                  nan
..                                                 ...
260                                                nan
261                                                nan
262  375EC/69 & 70\nKA-329 / 2022-2023\nKARNATAKA\n...
263                                                nan
264                                               p.36

                                   Examining Authority  \
0                                                  nan
1    D.Pharm\nState Board of Technical Education an...
2    B.Pharm, Pharm.D and M.Pharm\nThe Registrar,\n...
3                       Examining Authority / Hospital
4                                                  nan
..                                                 ...
260                                                nan
261                                                nan
262  D. Pharm\nThe Member Secretary\nO/o the Board ...
263                                                nan
264                                                nan

                      Decisions of\n375 EC (26.8.2022)     PCI
0                                                  nan     nan
1    D.Pharm\nGrant approval for 2022-2023 academic...   Pharm
2    B.Pharm\nB.Pharm course is already approved up...   Pharm
3                     Decisions of\n375 EC (26.8.2022)  Course
4                                                  nan     nan
..                                                 ...     ...
260                                                nan     nan
261                                                nan     nan
262  D.Pharm\nExtend approval upto 2022-2023 academ...   Pharm
263                          Clubbed with item no. 69.     nan
264                                                nan      36

[265 rows x 4 columns]

In [16]:
df2.head()

,Institution_Name,Examining Authority,Decisions of\n375 EC (26.8.2022),PCI
0,nan,nan,nan,nan
1,375EC/4\nAP-129/ 2022-2023\nP Rami Reddy Memor...,D.Pharm\nState Board of Technical Education an...,D.Pharm\nGrant approval for 2022-2023 academic...,Pharm
2,375EC/5\nAP-130/ 2022-2023\nVignan Pharmacy Co...,"B.Pharm, Pharm.D and M.Pharm\nThe Registrar,\n...",B.Pharm\nB.Pharm course is already approved up...,Pharm
3,EC No. / Item No./ Institution Name /ID/ Course,Examining Authority / Hospital,Decisions of\n375 EC (26.8.2022),Course
4,nan,nan,nan,nan

In [17]:
df2.shape

(265, 4)

In [18]:
df2.tail(10)

,Institution_Name,Examining Authority,Decisions of\n375 EC (26.8.2022),PCI
255,nan,nan,nan,nan
256,nan,"Technological\nUniversity, Lonere Vidyavihar, ...","- Education Regulations, 1991 / 2020 for the D...",nan
257,nan,nan,nan,nan
258,375EC/68\nMH-480 / 2022-2023\nShiva Trusts Raj...,D.Pharm\nThe Secretary\nMaharashtra State Boar...,D.Pharm\nExtend approval upto 2022-2023 academ...,Pharm
259,EC No. / Item No./ Institution Name /ID/ Course,Examining Authority / Hospital,Decisions of\n375 EC (26.8.2022),Course
260,nan,nan,nan,nan
261,nan,nan,nan,nan
262,375EC/69 & 70\nKA-329 / 2022-2023\nKARNATAKA\n...,D. Pharm\nThe Member Secretary\nO/o the Board ...,D.Pharm\nExtend approval upto 2022-2023 academ...,Pharm
263,nan,nan,Clubbed with item no. 69.,nan
264,p.36,nan,nan,36

In [28]:
df2 = df2.assign(PCI=df2['Institution_Name'].str.extract('(PCI.*)'))

In [29]:
df2.head()

,Institution_Name,Examining Authority,Decisions of\n375 EC (26.8.2022),PCI,newCol
0,nan,nan,nan,NaN,NaN
1,375EC/4\nAP-129/ 2022-2023\nP Rami Reddy Memor...,D.Pharm\nState Board of Technical Education an...,D.Pharm\nGrant approval for 2022-2023 academic...,PCI – 1519 PCI-1519,PCI – 1519 PCI-1519
2,375EC/5\nAP-130/ 2022-2023\nVignan Pharmacy Co...,"B.Pharm, Pharm.D and M.Pharm\nThe Registrar,\n...",B.Pharm\nB.Pharm course is already approved up...,PCI – 2596,PCI – 2596
3,EC No. / Item No./ Institution Name /ID/ Course,Examining Authority / Hospital,Decisions of\n375 EC (26.8.2022),NaN,NaN
4,nan,nan,nan,NaN,NaN

In [30]:
df2.shape

(265, 5)

In [31]:
PCI_Work2=df2[['PCI', 'Institution_Name', 'Examining Authority', 'Decisions of\n375 EC (26.8.2022)' ]]

In [32]:
PCI_Work2.head()

,PCI,Institution_Name,Examining Authority,Decisions of\n375 EC (26.8.2022)
0,NaN,nan,nan,nan
1,PCI – 1519 PCI-1519,375EC/4\nAP-129/ 2022-2023\nP Rami Reddy Memor...,D.Pharm\nState Board of Technical Education an...,D.Pharm\nGrant approval for 2022-2023 academic...
2,PCI – 2596,375EC/5\nAP-130/ 2022-2023\nVignan Pharmacy Co...,"B.Pharm, Pharm.D and M.Pharm\nThe Registrar,\n...",B.Pharm\nB.Pharm course is already approved up...
3,NaN,EC No. / Item No./ Institution Name /ID/ Course,Examining Authority / Hospital,Decisions of\n375 EC (26.8.2022)
4,NaN,nan,nan,nan